	<footer class = "footer">
	    <img id = "dhlogo" src="/img/dhlogo.png" alt="多火logo">
		<a href="http://www.bumei.org">不昧网</a>
		<a href="http://www.nuister.org">信大多火社区</a>
		<a href="http://www.duohuo.org">多火工作室</a>
	</footer>
</div>

<!-- professional -->
		<script type="text/javascript">
			$(document).ready(function(){
				//Full Caption Sliding (Hidden to Visible)
				//大气科学
				$('#college530fdc631e13cbe450225d9b').hover(function(){
					$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'-300px'},{queue:false,duration:160});
				});

				//水文气象
				$('#college530fdf6c20be5f5d51a7f650').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});

				//遥感
				$('#college530fdfb820be5f5d51a7f651').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//经济管理
				$('#college530fdffc20be5f5d51a7f652').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//大气物理
				$('#college530fe03d20be5f5d51a7f653').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//信息与控制
				$('#college530fe08a20be5f5d51a7f654').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//电子信息工程
				$('#college530fe0d920be5f5d51a7f655').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//应用气象
				$('#college530fe11b20be5f5d51a7f656').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//马克思主义
				$('#college530fe15720be5f5d51a7f657').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//数学与统计
				$('#college530fe1a120be5f5d51a7f658').hover(function(){
					$(".cover", this).stop().animate({left:'290px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'350px'},{queue:false,duration:160});
				});
				//公共管理
				$('#college530fe1e920be5f5d51a7f659').hover(function(){
					$(".cover", this).stop().animate({left:'300px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
				//物理与光电
				$('#college530fe23320be5f5d51a7f65a').hover(function(){
					$(".cover", this).stop().animate({left:'300px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
				//语言与文化
				$('#college530fe2ac20be5f5d51a7f65b').hover(function(){
					$(".cover", this).stop().animate({top:'215px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'280px'},{queue:false,duration:160});
				});
				//计算机与软件
				$('#college530fe2e720be5f5d51a7f65c').hover(function(){
					$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'-100px'},{queue:false,duration:160});
				});
				//环境与科学
				$('#college5316c19d46530c65151adf4f').hover(function(){
					$(".cover", this).stop().animate({top:'405px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'500px'},{queue:false,duration:160});
				});
				//传媒与艺术
				$('#college5316c1a546530c65151adf50').hover(function(){
					$(".cover", this).stop().animate({left:'300px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
				//海洋科学
				$('#college5316c1b746530c65151adf51').hover(function(){
					$(".cover", this).stop().animate({left:'305px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
			});
		</script>

	<!-- nav -->
	<script type="text/javascript" language="javascript">
		var nav = document.getElementById("nav");
		var links = nav.getElementsByTagName("li");
		var lilen = nav.getElementsByTagName("a");
		var currenturl = document.location.href;
		var last = 0;
		for (var i=0;i<links.length;i++)
		{
		var linkurl = lilen[i].getAttribute("href");
		if(currenturl.indexOf(linkurl)!=-1)
		{
		last = i;
		}
		}
		lilen[last].className = "current";
	</script>
	<!-- fancybox -->
	<script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>

</body>
</html>