
<footer class = "footer">
    <img id = "dhlogo" src="/img/dhlogo.png" alt="多火logo">
	<a href="http://www.duohuostudio.com">多火工作室</a>
	<a href="http://www.nuister.org">信大多火社区</a>
	<a href="http://www.bumei.org">不昧网</a>
</footer>
</div>

<!-- professional -->
		<script type="text/javascript">
			$(document).ready(function(){
				//Full Caption Sliding (Hidden to Visible)
				//大气科学
				$('#college530c85d5eadf87260532a5b0').hover(function(){
					$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'-300px'},{queue:false,duration:160});
				});

				//水文气象
				$('#college530c8648eadf87260532a5b1').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});

				//遥感
				$('#college530c865ceadf87260532a5b2').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//经济管理
				$('#college530c866deadf87260532a5b3').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//大气物理
				$('#college530c867beadf87260532a5b4').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//信息与控制
				$('#college530c86d9eadf87260532a5b5').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//电子信息工程
				$('#college530c86eceadf87260532a5b6').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//应用气象
				$('#college530c86faeadf87260532a5b7').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//马克思主义
				$('#college530c8705eadf87260532a5b8').hover(function(){
					$(".cover", this).stop().animate({top:'175px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'250px'},{queue:false,duration:160});
				});
				//数学与统计
				$('#college530c8717eadf87260532a5b9').hover(function(){
					$(".cover", this).stop().animate({left:'290px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'350px'},{queue:false,duration:160});
				});
				//公共管理
				$('#college530c8755eadf87260532a5ba').hover(function(){
					$(".cover", this).stop().animate({left:'300px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
				//物理与光电
				$('#college530c8770eadf87260532a5bb').hover(function(){
					$(".cover", this).stop().animate({left:'300px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
				//语言与文化
				$('#college530c8792eadf87260532a5bc').hover(function(){
					$(".cover", this).stop().animate({top:'215px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'280px'},{queue:false,duration:160});
				});
				//计算机与软件
				$('#college530c87c4eadf87260532a5bd').hover(function(){
					$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'-100px'},{queue:false,duration:160});
				});
				//环境与科学
				$('#college530c87fdeadf87260532a5be').hover(function(){
					$(".cover", this).stop().animate({top:'405px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({top:'500px'},{queue:false,duration:160});
				});
				//传媒与艺术
				$('#college530c8820eadf87260532a5bf').hover(function(){
					$(".cover", this).stop().animate({left:'300px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
				//海洋科学
				$('#college530c8851eadf87260532a5c0').hover(function(){
					$(".cover", this).stop().animate({left:'305px'},{queue:false,duration:160});
				}, function() {
					$(".cover", this).stop().animate({left:'400px'},{queue:false,duration:160});
				});
			});
		</script>

<!-- nav -->
<script type="text/javascript" language="javascript">
	var nav = document.getElementById("nav");
	var links = nav.getElementsByTagName("li");
	var lilen = nav.getElementsByTagName("a");
	var currenturl = document.location.href;
	var last = 0;
	for (var i=0;i<links.length;i++)
	{
	var linkurl = lilen[i].getAttribute("href");
	if(currenturl.indexOf(linkurl)!=-1)
	{
	last = i;
	}
	}
	lilen[last].className = "current";
</script>

<script type="text/javascript" language="javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>

</body>
</html>