<div class = "footer">
    <img id = "dhlogo" src="/img/dhlogo.png" alt="多火logo">
	<a href="http://www.duohuostudio.com">多火工作室</a>
	<a href="http://www.nuister.org">信大多火社区</a>
	<a href="http://www.bumei.org">不昧网</a>
</div>
	<script type="text/javascript" src="/js/slide/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/js/slide/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="/js/slide/cufon-yui.js"></script>
	<script type="text/javascript" src="/js/slide/scripts.js"></script>
	<script type="text/javascript" src="/js/slide/custom.js"></script>
</body>
</html>