<%- include header %>
<div class="col-xs-4 col-xs-offset-4" style="padding:100px 0 200px 0;">
    <form action="/login" method="post" role="form">
  	<div class="form-group">
        <input type="email" class="form-control" name="email" required="required" placeholder="E-mail"/>
        <input type="password" class="form-control" name="password" required="required" placeholder="Password"/>
        <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
        <button type="submit" class ="btn btn-default">登录</button>
    </div>
    </form>
</div>
<%- include footer %>