<%- include header %>
<div class="container">
	<div class="col-xs-4 col-xs-offset-4" style="padding:100px 0 200px 0;">
	    <form action="/login" method="post" role="form" class="form-horizontal">
	  	<div class="form-group">
	        <input type="email" class="form-control" name="email" required="required" placeholder="邮箱登录"/>
	    </div>
	    <div class="form-group">
	    	<input type="password" class="form-control" name="password" required="required" placeholder="输入密码"/>
	      <input type="hidden" name="_csrf" value="<%= locals.token %>"/>
	    </div>
	    <div class="form-group">
	    	<button type="submit" class ="btn btn-primary btn-block">登录</button>
	    </div>
	    </form>
	</div>
</div>

<%- include footer %>