<%- include header %>
<div>
<!-- list all colleges -->
<% if(colleges[0]) { %>
        <% colleges.forEach(function(college) { %>
        <div>
            <!-- display college images and other text -->
            <%= college.collegeName %>
        </div>
        <% }) %>
<% } else { %>
    <div>
        <p>暂无学院</p>
    </div>
<% } %>
</div>
<%- include footer %>